* > * {
    font-family: 'Do Hyeon', sans-serif;
}

body {
    min-height: 100vh;
    padding-top: 3.25rem;
}

/*Global variable*/
.text-center{
    text-align: center;
}

.text-sm{
    font-size: 1em;
    line-height: 1.5em;
}

.text-md{
    font-size: 1.5em;
}

.text-lg{
    font-size: 2.2em;
    line-height: 3rem;
}

.text-xl{
    font-size: 3em;
}

.text-2xl{
    font-size: 5em;
}

.font-blod{
    font-weight: bold;
}

.text-outline-white{
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.text-shadow-white{
    text-shadow:0.5px 0.5px 0.5px #ffffff;
}

.text-shadow-purple{
    text-shadow:1px 1px 1px #664FBE;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-initial{
    flex: 0 1 auto;
}

.flex-grow{
    flex-grow: 1;
}

.justify-center{
    justify-content: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.container{
    width: 100%;
}

.container-fluid{
    width: 98%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-10{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-5{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-10{
    padding-left: 4rem;
    padding-right: 4rem;
}

.d-inline{
    display: inline;
}

.d-block{
    display: block;
}

.grid{
    display: grid;
}

.cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.w-100{
    width: 100%;
}

.w-50 {
    width: 50%;
}

/*body style*/

.search{
    max-width: 750px;
    margin: auto;
}

.write-btn {
    display: flex;
    justify-content: right;
    margin: 1rem 1rem 0 0;
}

.board-box {
    max-width: 1000px;
    margin: 1rem auto 1rem auto;
}

.delete-post{
    visibility: hidden;
}

table.table {
    border-collapse: collapse;
    line-height: 1.5;
}
table.table thead th {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.table tbody th {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.table td {
    text-align: center; !important;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}



.post-list{
    cursor: pointer;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

